<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub: Home</title>
<!-- Here we are using th:href beacuse in project we are using thleaf -->
<link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>

<!-- Navbar -->
 <nav id="navbar">
    <ul>
      <li class="ho"><a href="index">Home</a></li>
      <li class="ho"><a href="about">About</a></li>
      <li class="ho"><a href="contact">Contact US</a></li>
      <li class="lo"><a href="login">Login</a></li>
      <li class="re"><a href="register">Register</a></li>
    </ul>
  </nav>
 
  
  <h1>MUSIC GROOVE</h1><br>

  <p><b>Music Groove</b> is a online platform designed to facilitate music according to users preference. The project leverages Java for its robust backend functionality, ensuring seamless data handling and server-side operations. 
  The frontend, on the other hand, utilizes a combination of HTML, CSS, and the Thyme leaf template
   provided by Spring Boot, resulting in an engaging and user-friendly interface.</p>
  
  
</body>
</html>