<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Music Groove: Admin Home</title>

<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<nav id="navbar">
    <ul>
      <li class="ho"><a href="#adminHome">Home</a></li>
      <li class="ho"><a href="newSong">Add A New Song</a></li>
      <li class="ho"><a href="viewadminSongs">View All Songs</a></li>
       <li class="ho"><a href="createPlaylist">Create Playlist</a></li>
        <li class="ho"><a href="viewPlaylists">View All Playlists</a></li>
        <li class="ho"><a href="#deletePlaylist">Delete All Playlists</a></li>
     
      <li class="lo"><a href="login">Logout</a></li>
      
    </ul>
  </nav>
<h1>Admin Home</h1>
<p>Here the admin will be able to add songs which will be present on the customer page</p>
<!-- <div class="ad">
<a href="newSong">Add A New Song</a>
<br>
<br>
<a href="viewSongs">View All Songs</a>
<br>
<br>
<a href="createPlaylist">Create Playlist</a>
<br>
<br>
<a href="viewPlaylists">View All Playlists</a>
</div>-->
</body>
</html>