<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub: Home</title>
<!-- Here we are using th:href beacuse in project we are using thleaf -->
<link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>

<!-- Navbar -->
 <nav id="navbar">
    <ul>
      <li class="ho"><a href="index">Home</a></li>
      <li class="ho"><a href="about">About</a></li>
      <li class="ho"><a href="contact">Contact US</a></li>
      <li class="lo"><a href="login">Login</a></li>
      <li class="re"><a href="register">Register</a></li>
    </ul>
  </nav>

 
  <h1>MUSIC GROOVE</h1><br>

  <p>if u Have Any Quaries, please send a mail </p>
  <div class="mail">
  <a id="m" href="mailto:thanuj5432@gmail.com">Send Email</a>
  </div>
  
</body>
</html>