<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub: Display Songs</title>

<link rel="stylesheet" th:href="@{/css/playlist.css}">
<style type="text/css">
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>
<body>
<nav id="navbar">
    <ul>
      <li class="ho"><a href="index">Home</a></li>
      <li class="ho"><a href="viewSongs">View All Songs</a></li>
      <li class="ho"><a href="createFavourites">Create Favourites</a></li>
       <li class="ho"><a href="viewFavourites">View All Favourites</a></li>
      <li class="lo"><a href="login">Logout</a></li>
      
    </ul>
  </nav>
	<div class="con">
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>

		</thead>
<!-- Here we are using thymle code for fetchings songs on to the table -->
		<tbody>
		<!-- Here we are creating a song attribute and using songs attribute we created in songs controller in view songs -->
			<tr th:each="song:${songs}">
			<!-- Fetching each name and so on by attribute -->
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td>
				<audio controls>
				<source th:src="${song.link}" type="audio/mpeg">
				</audio>
				
				
				
				</td>
			</tr>

		</tbody>
	</table>
</div>
</body>
</html>