<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/song.css}">
</head>
<body>
<nav id="navbar">
    <ul>
      <li class="ho"><a href="index">Home</a></li>
      <li class="ho"><a href="about">About</a></li>
      <li class="ho"><a href="contact">Contact US</a></li>
      
      <li class="lo"><a href="login">Logout</a></li>
      
    </ul>
  </nav>
<h1>Payment is successful Please <b>LOGIN AGAIN</b></h1>

<div class="log">
			<a id="p" href="login">Login</a>
		</div>
</body>
</html>